<!DOCTYPE html>
<html>
  <head>
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.0/jquery.min.js"></script>

    <!-- socket io -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>

    <!--CDN 링크 -->
  </head>
  <body>
    <div class="container">
      <!-- 메시지 리스트 // message list -->
      <div id="messages"></div>
      <!-- 메시지 입력 // message input -->
      
      <form id="send-form" action="#">
        <input id="message" type="text" name="message"/>
          <button id="send" type="submit">send</button>
      </form>
    </div>

    <script>
      // 유저, 룸 // user, room
      user = Math.floor(Math.random() * 100).toString();
      room = "1";
      socket = io.connect("http://" + document.domain + ":" + location.port);

      socket.on("connect", () => {
        console.log("connected");
        socket.emit("subscribe", { room: room });
      });

      socket.on("disconnect", () => {
        console.log("disconnected");
      });

      socket.on("broadcast msg", (data) => {
        // 메시지 확인 // chech message
        console.log("received", data);
        $("#messages").append($("<p>" + JSON.stringify(data) +  "</p>"));
      });

      $("#send-form").submit(function (e) {
        let form_data = {
          message: $("#message").val(),
          room: room,
          user: user,
        };
        // 전송 // send
        socket.emit("send msg", form_data);
        // 정리 // clear
        $("#message").val("");
        return false;
      });
    </script>
  </body>
</html>
