<div class="flex-wrap card pt-5 list-group list-group-horizontal ">
    <div class="list-group text-center text-md-left" role="tablist">
        <a
                href="#tab-friends"
                class="list-group-item list-group-item-action border-0"
                data-toggle="list"
        >
            <i class="fas fa-2x fa-user"></i>
        </a>
        <a
                href="#tab-chats"
                class="list-group-item list-group-item-action border-0"
                data-toggle="list"
        >
            <i class="fas fa-2x fa-comment"></i>
        </a>
    </div>
</div>