<nav class="fix-bottom list-group list-group-horizontal ">
    <ul class="navbar text-center " role="tablist">
        <p class="nav_item">
            <a class="nav-link" href="#tab-friends" data-toggle="list">
                <i class="fas fa-2x fa-user"></i>
                <br>
                friend
            </a>
        </p>
        <p class="nav_item">
            <a class="nav-link" href="#tab-chats" data-toggle="list">
                <i class="fas fa-2x fa-comment"></i>
                <br>
                chat
            </a>
        </p>
    </ul>
</nav>